!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/fonts.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }
	%body
		%nav
			%button.btn.btn-default.mi-button-default{ :type => "button" } Информация для заведений

		%main			
			%section.page-one
				%article
					%img{:src => "/images/logo.svg"}
					%h1 MIMICRA
					%p Твои бонусы ждут тебя
					%button.btn.btn-default.mi-button-default{ :type => "button" }
						Хочу скидки
			%section.page-two
				%article
					%img{:src => "/images/section_2_phones.png"}
				
				%article					
					%h1 Все в одном месте
					%p
						Mimicra заменяет собой все отдельные приложения кафе и ресторанов, давая возможность олучать в них бесплатные бонусы. Нужно лишь перешагнуть порог, и бонус у тебя в кармане.
					
					%p  Множество заведений Санкт-Петербурга уже ждут тебя!

					%p
						%img{:src => "/images/section_2_play_market.png"}
						%img{:src => "/images/section_2_apple_store.png"}

			%section.page-three
				%article
					%h1 Технология iBeacons
					%p
						Каждый раз, когда ты заходишь в кафе или ресторан,
						%br
						наш bluetooth маячок в заведении узнает тебя и засчитывает посещение.
						%br
						Никаких чекинов, просто ходи по любимым заведениям и получай бонусы автоматически!
					
					%img{:src => "/images/section_3_ibeacon.png"}
					%img{:src => "/images/section_3_phone.png"}

			%section.page-four
				%article
					%img{:src => "/images/section_4_cards.png"}
					%h1 
						Бонусы
						%br
						в любимых заведениях
					%p
						В каждом заведении, подключенном к сети Mimicra, ты можешь получить гарантированный бонус за первое посещение — это может быть десерт, чашка кофе или бесплатный бокал вина. Все твои последующие визиты в заведение будут засчитываться. Набрав определенное количество посещений, ты получишь новый бонус.
			%section.page-five
				%article 5 section 1 article
