!!! 5
%html
	%head
		%meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
		%title= "Mimicra"
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/fonts.css" }
		%link{ :rel => "stylesheet" , :type => "text/css" , :href => "css/mi.css" }
	%body
		%nav
			%button.btn.btn-default.mi-button-default{ :type => "button" }Информация для заведений
			
		%section.page-one
			%article
				%img{:src => "/images/logo.svg"}
				%h1 MIMICRA
				%p Твои бонусы ждут тебя
				%button.mi-button-default{ :type => "button" } Хочу скидки
		%section.page-two
			%article
				%img{:src => "/images/section_2_phones.png"}
			
			%article					
				%h1 Все в одном месте
				%p
					Mimicra заменяет собой все отдельные приложения кафе и ресторанов, давая возможность олучать в них бесплатные бонусы. Нужно лишь перешагнуть порог, и бонус у тебя в кармане.
				%p 	Множество заведений Санкт-Петербурга уже ждут тебя!

				.app-store-links
					%a{:href => "#"}
						%img{:src => "/images/section_2_play_market.png"}
					%a{:href => "#"}
						%img{:src => "/images/section_2_apple_store.png"}

		%section.page-three
			%article
				%h1 Технология iBeacons
				%p
					Каждый раз, когда ты заходишь в кафе или ресторан,
					%br
					наш bluetooth маячок в заведении узнает тебя и засчитывает посещение.
					%br
					Никаких чекинов, просто ходи по любимым заведениям и получай бонусы автоматически!
				%aside
					%img{:src => "/images/section_3_ibeacon.png"}
					%img{:src => "/images/section_3_phone.png"}

		%section.page-four
			%article
				%img{:src => "/images/section_4_cards.png"}
				%h1 
					Бонусы
					%br
					в любимых заведениях
				%p
					В каждом заведении, подключенном к сети Mimicra, ты можешь получить гарантированный
					%br
					бонус за первое посещение — это может быть десерт, чашка кофе или бесплатный бокал вина.
					%br
					Все твои последующие визиты в заведение будут засчитываться. Набрав определенное
					%br
					количество посещений, ты получишь новый бонус.
		%section.page-five
			%article
				%img{:src => "/images/section_5_flaers.png"}
			%article
				%h1 Флаеры на подарки
				%p Mimicra запоминает твои вкусы и отсеивает неинтересные предложения. Как только ты окажешься рядом с заведением, в котором можно получить гарантированный бонус или спецпредложение, Mimicra тут же сообщит об этом.
		
		%section.page-six
			%article
				%h3 Бонусы уже в 25 заведениях
				%img{:src => "/images/section_6_brands.jpg"}
			%article
				%aside Начинайте получать бонусы сегодня
				%aside.app-store-links
					%a{:href => "#"}
						%img{:src => "/images/section_2_play_market.png"}
					%a{:href => "#"}
						%img{:src => "/images/section_2_apple_store.png"}

		%footer
			%aside
				%p Copyright &copy; 2015 CPDBBK ALL RIGHTS RESERVED
				%img{:src => "/images/footer_logo.png"}
			%aside
				%p Информация для заведений