@import "compass/reset"
@import "bootstrap"

$color-violet 	: #9C6FE7
$color-white 	: #fff
$color-graywhite: #F8F8F8

// Fonts
$muller 		: "Muller"
$muller_black	: "Muller Black"
$muller_regular	: "Muller Regular"

$font_1: "Muller Black Italic"
$font_2: "Muller Bold"
$font_3: "Muller Bold Italic"
$font_4: "Muller Extrabold"
$font_5: "Muller Extrabold Italic"
$font_6: "Muller Hairline Italic"
$font_7: "Muller Hairline"
$font_8: "Muller Heavy"
$font_9: "Muller Heavy Italic"
$font_10: "Muller Light"
$font_11: "Muller Light Italic"
$font_12: "Muller Medium"
$font_13: "Muller Medium Italic"
$font_15: "Muller Regular Italic"
$font_16: "Muller Thin"
$font_17: "Muller Thin Italic"
$font_18: "Muller Ultralight"
$font_19: "Muller Ultralight Italic"

html , body
	height : 100%
	width : 100%

body
	font-family 	: "Arial"

// Buttons
.mi-button-default
	border-radius 	: 24px
	border-width 	: 4px
	font-weight 	: 800
	border-color 	: $color-violet
	color 			: $color-violet

nav
	@extend .container-fluid
	@include make-row()
	margin 		: 0
	padding 	: 16px 32px
	text-align	: right

main
	@extend .container-fluid
	height : 100%

section	
	@include make-row()

	article
		height 			: 100%

section.page-one
	height			: 100%
	text-align 		: center

	article
		@include make-xs-column(12)
		background 		: url('../images/first_section_down.svg') no-repeat bottom
		background-size : contain

	img
		width 		: 80px
		margin-top 	: 80px

	h1
		color 	: $color-violet

	button
		margin-top : 80px

section.page-two
	background 	: $color-violet
	color 		: $color-white
	font-family	: Muller Regular
	padding 	: 64px

	article
		@include make-xs-column(6)

	article:first-child
		text-align 		: right
		padding-right 	: 24px

	article:last-child
		text-align 	: left
		padding-top : 160px

		p
			margin-top 	: 20px

section.page-three
	text-align 	: center

	p
		width : 50%
		margin: auto

	img
		margin-top : 56px

section.page-four
	background : $color-graywhite

	article
		@include make-xs-column(12)
		text-align 		: center
		padding-top 	: 54px
		padding-bottom 	: 54px

		p
			width 	: 50%
			margin 	: auto
